
/* Sections for all pages */
.menu {
    list-style: outside none none;
    padding: 0 20px;
}
.menu li {
    color: #212224;
    display: inline-block;
    font-family: arial;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-right: 20px;
    text-align: center;
    width: auto;
}
a, a:active, a:focus {
    color: #212224;
    text-decoration: none;
}
a:hover{
	color:#455470;
	text-decoration: underline;
}
h1 {
    font-family: times;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#676A70;
}
h2, h3, h4, h5, h6 {
    font-family: times;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#676A70;
}
p {
    font-family: georgia;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.8em;
    text-align: justify;
}
input[type="button"] {
    background: #455470 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #e3e3e3;
    display: block;
    letter-spacing: 2px;
    margin: 0 auto;
    min-height: 45px;
    min-width: 220px;
    text-transform: uppercase;
}
input[type="text"], textarea {
    background: #adb2bd none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #212224;
    display: block;
    height: 45px;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
}
textarea{
    height: 160px;
    line-height: 40px;
}
/*
 * Header
 */

header{
	background: #262e3d none repeat scroll 0 0;
    border-bottom: 1px solid #212224;
    color: #fff;
    height: 100px;
}
.logo {
    display: inline-block;
    font-family: Helvetica;
    font-size: 50px;
    letter-spacing: -10px;
    margin: 0 30px 0 10px;
}
.description {
    display: inline-block;
    font-family: times;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 50px;
}
.social i {
    font-size: 30px;
    line-height: 75px;
    margin: 0 10px;
}
/* End Header */ 

/*
 * #bio section
 */
#bio {
    padding: 60px 0;
}
/* End #bio section */ 

/*
 * #proyectos section
 */
#proyectos {
    padding: 60px 0;
}

#proyectos .grid {
    padding-bottom: 20px;
    padding-top: 20px;
}
#proyectos .gridContainer {
    position: relative;
}
#proyectos .imgGridContainer {
    background: white none repeat scroll 0 0;
    overflow: hidden;
}
#proyectos .imgGrid {
    max-width: 400px;
    width: 100%;
}
#proyectos .captionGridContainer {
    background: rgba(68, 68, 68, 0.6) none repeat scroll 0 0;
    color: #e3e3e3;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
#proyectos .tituloCaption {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: left;
}
#proyectos .descripcionCaption {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: left;
}
/* End #proyectos section */ 

/*
 * #codigo section
 */
#codigo {
    padding: 60px 0;
}

#codigo .grid {
    padding-bottom: 20px;
    padding-top: 20px;
}
#codigo .gridContainer {
    position: relative;
}
#codigo .imgGridContainer {
    background: white none repeat scroll 0 0;
    overflow: hidden;
}
#codigo .imgGrid {
    max-width: 400px;
    width: 100%;
}
#codigo .captionGridContainer {
    background: rgba(68, 68, 68, 0.6) none repeat scroll 0 0;
    color: #e3e3e3;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
#codigo .tituloCaption {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: left;
}
#codigo .descripcionCaption {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: left;
}
/* End #codigo section */ 

/*
 * #interesante section
 */
#interesante {
    padding: 60px 0;
}

#interesante .grid {
    padding-bottom: 20px;
    padding-top: 20px;
}
#interesante .gridContainer {
    position: relative;
}
#interesante .imgGridContainer {
    background: white none repeat scroll 0 0;
    overflow: hidden;
}
#interesante .imgGrid {
    max-width: 300px;
    width: 100%;
}
#interesante .captionGridContainer {
    background: rgba(68, 68, 68, 0.6) none repeat scroll 0 0;
    color: #e3e3e3;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
#interesante .tituloCaption {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: left;
}
#interesante .descripcionCaption {
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: left;
}
/* End #interesante section */ 

/*
 * #contacto section
 */
#contacto {
    background: rgba(0, 0, 0, 0) url("/wp-content/themes/jvm/assets/img/bg/correos-de-mexico.jpg") repeat fixed 0 0 / cover ;
    padding: 60px 0;
}
#contacto h1 {
    display: none;
} 
/* End #contacto section */ 
/*
 * Footer Section
 */
footer{
    padding: 60px 0;
	min-height:150px;
	background:#212224;
	color:#fff;
} 
footer .copyright {
    display: inline;
    font-family: georgia;
    font-size: 0.6em;
    letter-spacing: 2px;
    text-align: right;
}
.brand i {
    font-size: 50px;
    line-height: 50px;
    margin: 0 10px;
}
/* End Footer Section */ 